<head>
    <link rel="stylesheet" href="css/admin.css">
</head>
{{!--bug--}}
<table class="products-table">
    <thead>
        <tr>
            <th>Termék neve</th>
            <th>Ára</th>
            <th>Raktáron(db)</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr class="product-row">
            <td>{{this.name}}</td>
            <td>{{this.price}}ft</td>
            <td>
                <a href="/admin/delete-item/{{this.id}}" class="delete">X</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<br>
<div class="add-form-container">
    <h1 class="addh1">Termék hozzáadása:</h1>
    <form action="/admin/add-item" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="desc" placeholder="desc" />
        <input type="text" name="product_url" placeholder="product_url" />
        <input type="number" name="price" placeholder="price" />
        <input type="number" name="category" placeholder="category" />

        <input type="file" name="image">
        <input type="submit" value="Hozzáadás" />
    </form>
</div>
<table class="categorytable">

    <thead>
        <tr>
            <th>Kategória ID</th>
            <th>Kategória neve</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Fehérjék</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kollagének</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Aminosavak</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kreatinok</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Vitaminok</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Testsúlymenedzsment</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Edzés előtti formulák</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Tömegnövelők</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ételek/snackek</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Tesztoszteronok</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Próbacsomagok</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Ruházat</td>
        </tr>
    </tbody>
</table>
</div>