<footer id="footer">
  <div class="top">
    <a href="/" class="logo">Protex</a>
    <ul class="links">
      <li class="link"><a href="#">Termékek</a></li>
      <li class="link"><a href="#">Rólunk</a></li>
      <li class="link"><a href="#">Elérhetőség</a></li>
    </ul>
    <ul class="social-links">
    </ul>
  </div>
  <div class="line-div"></div>
  <div class="bottom">
    <ul class="credibility">
      <li class="text">2023</li>
    </ul>

    <div class="payment-methods">
      <p class="desc">Elfogadott fizetési módok:</p>
      <img src="/img/icons/payment/ic_visa.png" alt="visa">
      <img src="/img/icons/payment/ic_mastercard.png" alt="mastercard">
      <img src="/img/icons/payment/ic_paypal.png" alt="paypal">
    </div>
  </div>
</footer>
