<header id="header">
  <div class="nav-top">
    <a href="/" class="logo">PROTEX</a>
    <div class="search-box">
      <form action="#" method="get">
        <div class="inputs">
          <input type="submit" id="submit-search" value="">
          <input type="text" placeholder="Találd meg kedvenced!" name="search-term" id="searchboxtext">
        </div>
      </form>
    </div>
     {{# if user }}

    <div class="actions-items">
      <div class="action-item">
        <img src="/img/icons/ic_shopping_cart.png" alt="Kosár">
        <a href="/cart"><span id="items-in-cart"></span>Kosár</a>
      </div>

      <div class="action-item">
        <img src="/img/icons/ic_orders.png" alt="Rendeléseim">
        <a href="/orders"><span id="orders"></span>Rendeléseim</a>
      </div>
        {{/if}}

      <div class="action-item">
        <img src="/img/icons/ic_account_circle.png" alt="Bejelentkezés">
        {{# if user }}
          <div class="user-session">
            <a href="/profile">Profilom</a>
          </div>
          {{#if user.admin}}
          <div class="user-session">
            <a href="/admin">Admin</a>
          </div>
          {{/if}}
          <div class="user-session">
            <a href="/log-out">Kijelentkezés</a>
          </div>
          <div class="user-session">
            <p class="hello">Helló, {{user.username}}</p>
          </div>
        {{ else }}
          <a href="/sign-in">Bejelentkezés</a>
        {{/if}}
      </div>
    </div>

    <div class="action-item">
     <div id="admin-panel" style="display: none;">
    <!-- Admin panel content here... -->
    </div>
    </div>
  </div>
  <div class="line-div"></div>
  
</header>
