body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

header .search-box {

    display: none;
}

.addh1 {
    text-align: center;
    color: #4CAF50;
    font-size: 30px;
    margin: 20px 0;
}

form {
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 580px;
    margin-right: 20px;

}

input[type=text],
input[type=number],
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* 
Termek torlese styling
 */

.products-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.products-table th,
.products-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.products-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* Delete gomb */
.delete {
    color: #f44336;
    font-weight: bold;
    text-decoration: none;
}

.delete:hover {
    color: #b71c1c;
}

/*Kategoriak tabla*/
table {
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.form {
    flex: 1;
    margin-right: 20px;
}

.table {
    flex: 1;
}

.categorytable {
    border-collapse: collapse;
    width: min-content;
    margin: 20px 0;
}