body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

header .search-box {

    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.manageorders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.manageorders button {
    background-color: #ffe59d;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: black 2px solid;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}


/* Termék hozzáadása panel  */
.add-form-container {
    flex: 1;
    margin-right: 20px;
}

.addh1 {
    text-align: center;
    color: #4CAF50;
    font-size: 30px;
    margin: 20px 0;
}

.addform {
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 580px;
    margin-right: 20px;
}

/*Kategória hozzáadása panel*/
.categoryform {
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 580px;
    margin-right: 20px;

}

.category-container {
    background-color: white;
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.add-category-container {
    flex: 1;
}

.addcategoryform {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 10px auto;
}

.categoryh1 {
    text-align: center;
    color: #4CAF50;
    font-size: 20px;
    margin-bottom: 10px;
}

.categoryform input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 16px;
}

.categoryform input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.categoryform input[type="submit"]:hover {
    background-color: #3e8e41;
}


/* General inputbeallitasok  */

input[type=text],
input[type=number],
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* 
Termek torlese styling
 */

.products-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.products-table th,
.products-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.products-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* Delete gomb */
.delete {
    color: #f44336;
    font-weight: bold;
    text-decoration: none;
}

.delete:hover {
    color: #b71c1c;
}

/*Kategoriak tabla*/
table {
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.table {
    flex: 1;
}

.categorytable {
    border-collapse: collapse;
    width: min-content;
    margin: 20px 0;
}

/*Popup az arhoz*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .inner {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup label {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.popup input[type="number"] {

    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    margin: 0 auto;
}

.popup .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #008CBA;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    20px 0;