{{#each orders}}
{{dateFormat order_time "dddd, MMMM Do YYYY, h:mm:ss a"}}
{{#if_eq status "pending"}}

<div>Folyamatban</div>
{{/if_eq}}
{{#if_eq status "completed"}}
<div>Kész</div>
{{/if_eq}}

{{#if_eq status "cancelled"}}

<div>Törölve</div>
{{/if_eq}}

{{/each}}